<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:13444/OrderService/" binding="netTcpBinding"
        contract="Orders.Domain.IOrderService" name="NetTcpBinding_IOrderService" />
    </client>
  </system.serviceModel>
</configuration>